*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    height: 6em;
    background: rgb(10,10,10);
    background: linear-gradient(0deg, rgba(10,10,10,1) 0%, rgba(255,237,130,1) 100%);
}

.header__link img{
    width: 80px;
    float: left;
    margin: 10px 20px 20px;
    
}
.header__link img:hover{
    opacity: 0.6;
    cursor: pointer;
}

.header__right{
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 35px;
    margin-right: 20px;
    cursor: pointer;
}
.header__right:hover{
    text-decoration: underline;
    color: white;
}

.navbar {
    background-color: rgb(0, 0, 0);
    text-align: center;
    position: sticky;
    padding: 15px;
    /* width: 100%; */
    top: 0;
    z-index: 1;
    opacity: 1;  
}
.navbar a{
    text-decoration: none;
    margin: 0px 10px;
    font-size: 20px;
    color: aliceblue;
}

.navbar a:hover {
    color: rgb(255, 126, 126);
}

.background{
    width: 100%;
}

.tude{
    width: 250px;
    height: 100px;
    position: absolute;
    top: 300px;
    right: 100px;
    /* background-color: aliceblue; */
}

.tude p{
    font-size: 25px;
    color: white;
    padding-top: 12px;
}

.tude button{
    border-radius: 7;
    background-color: rgb(133, 133, 133);
    width: 120px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
}
.tude button:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad , 0 0 100px #ff96ad;;
}
.fixed{
    height: 50px;
    width: 50px;
    background-color: burlywood;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fixed:hover{
    background-color: white;
}

.parag{
    text-indent: 15px;
    padding: 10px;
    
}